.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.cell {
    fill: blue !important;
}